# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native
.bundle/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserstate

# Environment
.env
.env.*
!.env.example

# Metro
.metro-health-check*

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?